@import url("common.css");

.mainContainer > div.content > div.innerContent {
    grid-area: innerContent;
    display: grid;
    padding-left: 30px;
    border: 0px solid #129328;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header-left header-right";
    gap: 1px;
  }

  .mainContainer > div.content > div.innerContent > div.header-left {
    grid-area: header-left;
    text-align: right;
    position: relative;
  }
  .mainContainer > div.content > div.innerContent > div.header-right {
    grid-area: header-right;
    text-align: left;
    color: black
  }

  .logo2 {
    width: 50px;
    height: 50px;
    position: absolute;
    left:0px;
    top: 370px;
  }

  .l2 {
    width: 50px;
    height: 50px;
  }

  .head {
    position: absolute;
    right:100px;
    top: 0px;
  }

  .cormorant-text {
    padding-top: 5px;
    padding-left: 40px;
    text-align: left;
    font-family: cormorantSemiBold;
    font-size: 20px;
  }

  .cormorant-italic-text {
    padding-top: 5px;
    padding-left: 40px;
    text-align: left;
    font-family: cormorantSemiBoldItalic;
    font-size: 20px;
  }