@import url("common.css");

.mainContainer > div.content > div.innerContent {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: 2fr 8fr;
  gap: 1px;
  background-color: white;
  padding: 15px;
  border: 0px solid #9ef581;
}

.mainContainer > div.content > div.innerContent > div.left {
  grid-area: left;
  text-align: left;
  padding: 20px;
  border: 0px solid orange;
}

.mainContainer > div.content > div.innerContent > div.right {
  grid-area: right;
  text-align: center;
  padding: 10px;
  border: 0px solid orange;
}

.imgOrangeBorder {
  border: 1px solid orange;
}

.orangetext {
  word-wrap:break-word;
  border: none;
  font-family: cormorantSemiBold;
  color: orange;
  text-align: left;
  border: 0px solid orange;
  font-size: 18px;
  padding-top: 50px;
  padding-left:0px;
  width: 100%;
}

.mytext {
  width:87%;
  word-wrap:break-word;
  text-align: left;
  border: none;
  line-height: 24px;
  font-size: 16px;
  font-family: avenirLight;
  border: 0px solid #1f1293;
  color: black;
}

 @media only screen and (max-width: 700px) {
  .mainContainer > div.content > div.innerContent {
    display: grid;
    width: 100%;
    grid-template-areas:
      "left"
      "right";
    grid-template-columns: 1fr;
    gap: 1px;
    background-color: white;
    padding: 15px;
    border: 0px solid #9ef581;
  }

  .mainContainer > div.content > div.innerContent > div.left {
    grid-area: left;
    text-align: left;
    padding: 20px;
    border: 0px solid orange;
  }

  .mainContainer > div.content > div.innerContent > div.right {
    grid-area: right;
    text-align: left;
    padding: 20px;
    border: 0px solid orange;
  }

  .orangetext {
    word-wrap:break-word;
    border: none;
    font-family: cormorantSemiBold;
    color: orange;
    text-align: left;
    border: 0px solid orange;
    font-size: 18px;
    padding-top: 50px;
    padding-left:0px;
    width: 100%;
  }

  .mytext {
    width:100%;
    word-wrap:break-word;
    text-align: left;
    border: none;
    line-height: 24px;
    font-size: 16px;
    font-family: avenirLight;
    border: 0px solid #1f1293;
    color: black;
  }
}

